body{
    font-family: Bungee;
    text-align:center;
    background-color: white;
}
h1{
	display: block;
	margin-top: auto 10px;
}
.logo_ccc{
    float: left;
    background-color: white;
    vertical-align:middle;
}
.logo_container{
	display: table;
	float: left;
	vertical-align:middle;
    background-color: white;
}
.navigation{
	float: right;
    vertical-align: text-bottom;
	height: 100%;
    background-color: white;
}
.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
    background-color: white;
}
.navigation a li{
	display: table-cell;
	vertical-align:text-bottom;
	height: 100%;
	font-size: 30px;
	color:#7944e6;
	margin-bottom:100%;
    background-color: white; 
}
.foodtruck-section{
    background-color:#ff00ff;
    text-align: center;
    width: 100%;
}
.side-by-side-item
{
    background-color:white;
    margin-top: .1%;
    margin-bottom: 0px;
    vertical-align: middle;
}
.image-about
{
    background-color:white;
    width: 50%;
}
.nav{
    color:#7944e6;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    text-align:justify;
    margin-bottom: auto;
}
.div-section1,.div-section2,.div-section3{
        border: 3px solid;
        color:#7944e6;
        width:65%;
        margin:auto;
        margin-bottom: 50px;
        align-items: center;
        height: 600px;
        margin-right: 50px;
        margin-left: 50px;
        background-color: white;
}
.container{
    background-color: white;
    padding-left: 150px;
}
.white-section{
    background-color: white;
}
.paragraph{
    background-color: #ff00ff;
    padding-left: 10px;
    font-family: Bungee;

}
p{
    font-size: 20px;
    text-transform:uppercase;
    text-align: left;
    font-weight: bolder;
    background-color: #ff00ff;
    padding-left: 10px;
    margin-top: 5%;
}
.img2{
    width:100%; 
    position:relative;
    vertical-align: middle;
    background-color:#ff00ff;
    top:20px;
    height: 150px;
}
.img3,.img4,.img5{
    width: 50%; 
    position:relative;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 32px;
}
.about{
    text-align: left;
    font-size: 25px;
    background-color: #ff00ff;
    padding-left: 20px;
}
.option{
    color:black;
    font-size: 40px;
    font-weight: bolder;
}
a:hover{
    color: #10fdff;
}
div.about-section{
    background-color: #ff00ff;
    vertical-align: bottom;
}
div.about-section.side-by-side-item h1{
    background-color: #ff00ff;
}
div.img-about-section{
    background-color: white;
}


@media screen and (min-width: 768px) { 
    .container {
        display: flex; 
        flex-direction: row;
        padding-left: 10px;
        }
        .side-by-side-item{
            width: 50%;
        }
        .white-section{
            width: 100%;
            height: 20px;
        }
        .img2{
            margin-top: 10%;
            margin-bottom: 5%;
            top:20px;
            height: 200px;
            width: 550px;
        }
        .foodtruck-section { 
            display:flex; 
            align-items: center;
        }
        .about-section{
            display: flex;
            flex-direction: column;
            background-color: #ff00ff;
            }
        .about{
            font-size: 20px;
        }
        .paragraph{
            background-color: #ff00ff;
        }
        .image-about
       {
            background-color:white;
       }
       div.img-about-section{
        background-color: #ff00ff;
       }

        
    }